* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAV */
.nav {
    display: grid;
    grid-gap: 20px;
    grid-template: "empty-left logo   empty-middle   empty-middle  empty-middle  menu   empty-right" 100px/ 2fr 20% 1fr 1fr 1fr 40% 1fr;
}

.h2 {
    color: #D79287;
}

.logo {
    margin-top: 25px;
    grid-area: logo;
    font-size: 20px;
    color: rgb(9, 10, 10);
    text-align: center;
}

.menu {
    grid-area: menu;
    margin-top: 20px;
    text-align: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin: 20px;
}

.menu ul a {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 520;
    font-family: 'Montserrat', sans-serif;
    color: #030303;
    text-decoration: none;
}

.menu ul a:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}

/* BODY */
.section-1 {
    display: grid;
    grid-gap: 20px;
    height: 800px;
    grid-template: "empty-left  text-1 img-1  empty-right" 400px/ 1fr 42% 38% 1fr;
}

.text-1 {
    grid-area: text-1;
    margin-top: 80px;
}

.text-1 {
    text-align: justify;
    word-spacing: 1px;
}

.img-1 {
    grid-area: img-1;
    margin-top: 80px;
    height: 550px;
    background-color: #858484;
}

.h4,
h6 {
    margin: 5px;
    font-size: 1.5em;
    letter-spacing: 5px;
}

p {
    margin: 15px 0;
    font-size: 1.3em;
}

.boxi {
    position: relative;
    text-align: right;
    font-size: 32px;
    color: rgb(216, 19, 19);
}

.header-section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.boxi:hover {
    cursor: pointer;
}

/*     SECTION 2     */
.main-section2 {
    display: grid;
    grid-gap: 30px;
    height: 600px;
    grid-template: "empty-left  img-section-1 img-section-2 img-section-3   empty-right" 400px/
        1fr 20% 20% 20% 1fr;
}

.h2-section2 {
    text-align: center;
    font-size: 72px;
    color: #D79287;
}

.text-2 {
    text-align: center;
    font-size: 16px;
}

.img-section-1 {
    margin-top: 80px;
    grid-area: img-section-1;
    height: 50vh;
}

.img-section-2 {
    margin-top: 80px;
    grid-area: img-section-2;
    height: 50vh;
}

.img-section-3 {
    margin-top: 80px;
    grid-area: img-section-3;
    height: 50vh;
}

.texto-section2 {
    margin-top: 20px;
    text-align: center;
}

.img-section-1 img,
.img-section-2 img,
.img-section-3 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* SECTION 3 */
.main-section3 {
    display: grid;
    grid-gap: 60px;
    height: 400px;
    grid-template: "empty-left  img-section3-1 img-section3-2 img-section3-3  empty-right" 200px/
        1fr 15% 15% 15% 1fr;
}

.h2-section3 {
    text-align: center;
    font-size: 72px;
    color: #EBAC65;
}

.text-3 {
    text-align: center;
    font-size: 16px;
}

.img-section3-1 {
    margin-top: 20px;
    grid-area: img-section3-1;
    height: 50vh;
}

.img-section3-2 {
    margin-top: 20px;
    grid-area: img-section3-2;
    height: 50vh;
}

.img-section3-3 {
    margin-top: 20px;
    grid-area: img-section3-3;
    height: 50vh;
}

.img-section3-1 img,
.img-section3-2 img,
.img-section3-3 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* FOOTER */
.lol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    display: inline-block;
    width: 80px;
    border-radius: 20%;
    margin: 10px;
}

.social:hover {
    font-size: 72px;
    transition: 1s;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.container-mobile {
    display: none;
}

@media screen and (max-width:1000px) {

    .contenido-mobile {
        display: grid;
        grid-template-columns: 1fr;
    }

    .container {
        display: none;
    }

    .container-desktop {
        display: none;
    }

    .container-mobile {
        display: flex;
        justify-content: center;

    }

    .contenido-mobile {
        width: 90%;
    }

    .menu-hamburguer {
        z-index: 1;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .titulo-menu-hamburguer {
        text-align: center;
        width: 100%;
        font-size: 1.5em;
    }


    .icono-menu {
        width: 30px;
        cursor: pointer;
        position: absolute;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        display: block;
        font-size: 1.2em;
        color: black;
        padding: 10px;
        width: 1fr;
        cursor: pointer;
    }

    a:hover {
        background-color: rgba(0, 0, 0, 0.041);
        border-radius: 8px;
    }

    ul>li>ul>Li {
        display: none;
        position: absolute;
        top: 100%;
        left: 60%;
    }

    li {
        display: inline-flex;
        position: relative;
    }

    nav {
        position: absolute;
        z-index: 1;
        border-radius: 8px;
    }

    nav>ul>li:hover li {
        display: block;
    }

    .nav-mobile-invisible {
        display: none;
    }

    .seccion1-mobile {
        margin-top: 40px;
        display: grid;
        grid-template: "titulo1-mobile   heart" 60px
            "img1-mobile      img1-mobile" 34vw
            "parrafo1-mobile  parrafo1-mobile" auto
            "parrafo2-mobile  parrafo2-mobile" auto
            "parrafo3-mobile  parrafo3-mobile" auto/
            1fr 60px;
    }

    .header-seccion1-mobile {
        display: flex;
        align-items: center;
    }

    .titulo1-mobile {
        grid-area: titulo1-mobile;
        width: 100%;
        font-size: 1.7em;
        display: flex;
        align-items: center;
    }

    .heart {
        color: rgb(216, 19, 19);
        grid-area: heart;
        width: 100%;
        font-size: 2.2em;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .img1-mobile {
        grid-area: img1-mobile;
        background-color: #030303;
    }

    .parrafo1-mobile {
        margin-top: 35px;
        grid-area: parrafo1-mobile;
    }

    .parrafo2-mobile {
        grid-area: parrafo2-mobile;
    }

    .parrafo3-mobile {
        grid-area: parrafo3-mobile;
    }

    p {
        font-size: 1em;
        text-align: justify;
    }

    .seccion2-mobile {
        margin-top: 105px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 130px auto;
    }

    .head-imagenes-mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .img2-mobile,
    .img3-mobile,
    .img4-mobile {
        width: 92%;
        height: 40vw;
        display: flex;
    }

    h2 {
        font-size: 2.7em;
    }

    .parrafo-imgs-section2-mobile {
        margin: 15px 10px;
    }

    .seccion3-mobile {
        margin-top: 105px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .head-audio-mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
    }

    .img5-mobile,
    .img6-mobile,
    .img7-mobile {
        background-color: black;
        width: 90%;
    }

    .img-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    h2 {
        font-size: 2.7em;
    }


    .parrafo-imgs-section3-mobile {
        margin: 15px 10px;
    }

    .contactos-mobile {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactos {
        width: 20px;
    }

    footer {
        margin-top: 30px;
        height: 100px;
    }

    .a-footer {
        width: unset;
        margin: unset;
    }

    .annyung {
        position: unset;
        color: rgb(215, 146, 135);
    }

    .titulo2-mobile {
        color: rgb(215, 146, 135);
    }

    .titulo3-mobile {
        color: rgb(235, 172, 101);
    }
}