* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*    NAV      */
.nav {
    display: grid;
    grid-gap: 20px;
    grid-template: "empty-left logo   empty-middle   empty-middle  empty-middle  menu   empty-right" 100px/ 2fr 20% 1fr 1fr 1fr 40% 1fr;
}

.h2 {
    color: #D79287;
}

.logo {
    margin-top: 25px;
    grid-area: logo;
    font-size: 20px;
    color: rgb(9, 10, 10);
    text-align: center;
}

.menu {
    grid-area: menu;
    margin-top: 20px;
    text-align: center;
}

.menu ul a {
    color: rgb(3, 3, 3);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 520;
    font-family: 'Montserrat', sans-serif;
}

.menu ul li {
    display: inline-block;
    margin: 20px;
}

.menu ul a:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}
.children{
    position: absolute;
    display: none;
    text-align: left;
    z-index: 9999;
}
nav ul li:hover .children{
    display: block;
    width: 15%;
    position: absolute;
}
nav ul li .children li{
    overflow: hidden;
    display: block;
}
nav ul li .children li a{
    display: block;
}
nav ul li .children {
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.children {
    background-color: #fff; 
    padding: 0.5rem; 
    animation: fadeIn .7s ease-out; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-0.25rem);
    }
    33% {
        opacity: 0.33;
        transform: translateY(-0.1875rem);
    }
    66% {
        opacity: 0.66;
        transform: translateY(-0.09375rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*    BODY    */
.img-1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-1 {
    margin-top: 80px;
    display: grid;
    grid-gap: 20px;
    height: 800px;
    grid-template: "empty-left  text-1 empty-mid img-1  empty-right" 750px/ 1fr 40vw 100px 400px 1fr;
}

.text-1 {
    grid-area: text-1;
    text-align: justify;
}

.h2-section2 {
    color: #9A8073;
}

.img-1 {
    grid-area: img-1;
    height: 80%;
    background-color: rgb(133, 132, 132);
}

.h4,
h6 {
    margin: 5px;
    font-size: 20px;
}

p {
    margin: 15px 0;
    font-size: 20px;
}

.boxi {
    position: relative;
    text-align: right;
    font-size: 32px;
    color: rgb(119, 117, 115);
}

.header-section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.boxi:hover {
    cursor: pointer;
    color: darkorange;
}

.boxp {
    position: relative;
    top: 25%;
    left: 87.7%;
    font-size: 22px;
}

/*     SECTION 2     */
.main-section2 {
    display: grid;
    grid-gap: 30px;
    height: 500px;
    grid-template: "empty-left  img-section-1 img-section-2 img-section-3 img-section-4 img-section-5 img-section-6   empty-right" 260px/
        1fr 180px 180px 180px 180px 180px 180px 1fr;
}

.h2-section2 {
    text-align: center;
    font-size: 72px;
}

.text-2 {
    text-align: center;
    font-size: 16px;
}

.img-section-1 {
    margin-top: 80px;
    grid-area: img-section-1;
    background-color: rgb(26, 26, 26);
}

.img-section-2 {
    margin-top: 80px;
    grid-area: img-section-2;
    background-color: rgb(26, 26, 26);
}

.img-section-3 {
    margin-top: 80px;
    grid-area: img-section-3;
    background-color: rgb(26, 26, 26);
}

.img-section-4 {
    margin-top: 80px;
    grid-area: img-section-4;
    background-color: rgb(26, 26, 26);
}

.img-section-5 {
    margin-top: 80px;
    grid-area: img-section-5;
    background-color: rgb(26, 26, 26);
}

.img-section-6 {
    margin-top: 80px;
    grid-area: img-section-6;
    background-color: rgb(26, 26, 26);
}

.img-section-1 img,
.img-section-2 img,
.img-section-3 img,
.img-section-4 img,
.img-section-5 img,
.img-section-6 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.style-box {
    border-radius: 100%;
}

.texto-section2 {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}

/*   SECTION 3   */
.main-section3 {
    display: grid;
    grid-gap: 60px;
    height: 400px;
    grid-template: "empty-left  img-section3-1   empty-right" 300px/
        1fr 600px 1fr;
}

.h2-section3 {
    text-align: center;
    font-size: 72px;
    color: #EBAC65;
}

.text-3 {
    text-align: center;
    font-size: 16px;
}

.img-section3-1 {
    margin-top: 20px;
    grid-area: img-section3-1;
    border-radius: 40px;
}
.video{
    border-radius: 15px;
}

/*      FOOTER     */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    position: relative;
    display: inline-block;
    width: 45px;
    border-radius: 20%;
    margin: 10px 2px;
    bottom: 10px;
}

.social:hover {
    font-size: 36px;
    transition: 1s;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}




.container-mobile {
    display: none;
}


@media screen and (max-width:1000px) {
    .contenido-mobile {
        display: grid;
        grid-template-columns: 1fr;
    }

    .container-desktop {
        display: none;
    }

    .container-mobile {
        display: flex;
        justify-content: center;

    }

    .contenido-mobile {
        margin: 0px 5%;
    }

    .menu-hamburguer {
        z-index: 1;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .titulo-menu-hamburguer {
        text-align: center;
        width: 100%;
        font-size: 1.5em;
    }


    .icono-menu {
        width: 30px;
        cursor: pointer;
        position: absolute;
    }


    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        display: block;
        font-size: 1.2em;
        color: black;
        padding: 10px;
        width: auto;
        cursor: pointer;
    }

    nav>ul>li>ul> li a {
        width: 130px;
    }

    a:hover {
        background-color: rgba(0, 0, 0, 0.041);
    }

    ul>li>ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 60%;
    }

    li {
        display: inline-flex;
        position: relative;
    }

    nav {
        position: absolute;
        z-index: 1;
        background-color: #ffffff;
    }

    nav>ul>li:hover ul {
        display: block;
        background-color: #ffffff;
    }

    .nav-mobile-invisible {
        display: none;
    }
    p {
        text-align: justify;
        margin: unset;
    }

    .seccion1-mobile {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto;
    }

    .header-seccion1 {
        display: grid;
        grid-template-columns: 1fr 110px;
        grid-template-rows: 20px 20px 30px 70px 20px;
    }

    .img1-mobile {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    .img1-mobile-tamaño {
        width: 100%;
        height: 100%;
    }

    h5 {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .stars {
        font-size: 1.8em;
        margin: auto 0px;
        color: gray;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .stars:hover {
        color: darkorange;
        cursor: pointer;
    }

    h3 {
        font-size: 1.7em;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .parrafo-header-mobile {
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .seccion2-mobile {
        margin-top: 20vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .head-imagenes-mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 30px;
    }

    .img2-mobile,
    .img3-mobile,
    .img4-mobile,
    .img5-mobile,
    .img6-mobile,
    .img7-mobile {
        width: 100%;
        height: 25vw;
        border-radius: 100%;
        display: flex;
    }

    .img-center {
        width: 90%;
        margin: 10px;
    }

    .imgs {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    h2 {
        font-size: 2.7em;
    }

    .seccion3-mobile {
        margin-top: 20vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;

    }

    .head-video-mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .div-video {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video1 {
        background-color: black;
        height: 30vw;
        width: 80%;
        border-radius: 40px;
    }

    .contactos-mobile {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactos {
        width: 5vw;
    }

    footer {
        margin: 15vw 0px 7vw 0px;
        height: auto;
    }

    .a-footer {
        width: unset;
        margin: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .a-footer:hover {
        background-color: unset;
    }

    .annyung {
        position: unset;
        color: rgb(215, 146, 135);
    }

    .center-name {
        text-align: center;
    }

    .bolder {
        font-weight: 900;
        font-size: 2.95vw;
    }

    .ligher {
        font-weight: 700;
        font-size: 2.3vw;
    }

    .titulo2-mobile {
        color: rgb(154, 128, 115);
        font-size: 6vh;
    }

    .titulo3-mobile {
        color: rgb(235, 172, 101);
        font-size: 6vh;
    }
}